%hover {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: #000;
    left: 0;
    bottom: -10px;
    transition: .4s;
    transform: scale(0);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    background: linear-gradient(to right, #e5faff, #fff4e5);
    .logo {
        font-size: 3rem;
    }
    nav {
        display: flex;
        gap: 20px;
        a {
            position: relative;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            &::after {
                @extend %hover;
            }
            &:hover::after {
                transform: scale(1);
            }
            &.show::after {
                transform: scale(1);
            }
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .btn-menu {
            width: 40px;
            height: 30px;
            border-radius: .5rem;
            color: #000;
            border: none;
            background: transparent;
            font-size: 1.1rem;
            cursor: pointer;
            display: none;
        }
        .menu-icon {
            width: 80px;
            height: 40px;
            border: none;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: transparent;
        }
    }
    .btn-more {
        width: 120px;
        height: 40px;
        border-radius: 8px;
        border: 2px solid #000;
        font-size: 1rem;
        background: transparent;
        cursor: pointer;
        transition: .5s ease;
        &:hover {
            padding-left: 1rem;
        }
    }
    .btn-profile {
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        background: transparent;
        border-radius: 30rem;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            transition: .5s;
            &:hover {
                scale: 1.4;
            }
        }
    }
}


@media (max-width: 1024px) {
    header {
        padding: 5px 50px;
        nav {
            display: none;
        }
    }
}
